*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(128, 0, 128, 0.849);
    
}




/*container principal*/
 .navbar-flex-container{
    display: flex;
    justify-content: space-between;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right, #9899B6, #B4B5E0);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.336);

    /*POSITION*/
    position: relative;
    top: 100px;
 }

 h1{
    color: white;
    font-weight: 700px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px   ;
 }

 .navbar-container-nested{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 25px;
    font-family: Arial, Helvetica, sans-serif;

 }

 a{
    text-decoration: none;
    background-color: rgba(128, 0, 128, 0.308);
    padding: 3px;
    border-radius: 5px;
 }

 a:hover{
    text-decoration: underline;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.219);
 }

 /*Main content*/
 .main-flex-container{
    display: flex;
    justify-content: center;
    background-color: purple;
    margin: auto;
    width: 800px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.514);

    /*POSITION*/
    position: relative;
    top: 110px;
 }

 .flexcard-nested-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; /*Align only cross line*/
    gap: 30px;
    background-color: blueviolet;
    width: 600px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;

 }
 
 .flex-card{
    background-color: rebeccapurple;
    width: 250px;
    height: 130px;
    border-radius: 10px;
 }

 .flex-card:hover{
    background-color: rgb(62, 2, 122);
    scale: calc(1.1);
    cursor: pointer;
 }
 footer{
    background-color: rebeccapurple;
    margin-top: 200px;
    text-align: center;
    padding: 15px;
    color: white;
 }

 strong{
    color: rgb(128, 0, 107);
    font-style: italic;
 }

